html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.nav-content {
    margin-top: 50px;
}

.active {
    background-color: aliceblue;
    color: black !important;
    font-weight: 700;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #292b2c;
}

.footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid .f-items {
    margin: 16px 0;
    color: white;
}

.footer i {
    font-size: 2rem;
    color: aliceblue;
}

.f-source-title {
    color: whitesmoke;
}

/* Resume part */
.resume {
}

.skill-desc {
    font-size: 0.95rem;
}

.moto {
    margin-top: -8px;
    color: #9936d2;
    font-style: italic;
}

/* Helper classes */
.p-r-10 {
    padding-right: 10px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-l-r-50 {
    padding: 8px 50px;
}

.p-t-2p {
    padding-top: 2%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    padding: 0;
    margin-top: -5px;
}

/* Progress bar helper class */

.w-60 {
    width: 60%!important;
}

.w-40 {
    width: 40%!important;
}

.w-80 {
    width: 80%!important;
}

/* Override */
.jumbotron {
    /* I need all features of jumbotron rather than bg color */
    background-color: transparent !important;
}

.progress {
    background-color: rgba(217, 83, 79, 0.23)!important;
}

/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 300px) and (max-width: 992px) {
    /* Styles should be here*/
    .nav-item {
        text-align: center;
    }

    .profile-details {

    }
}

@media only screen and (min-width: 300px) and (max-width: 574px) {
    /* Styles should be here*/
    .profile-details {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .footer i {
        font-size: 1.5rem;
    }

    .f-source-title {
        display: none;
    }

    /* Resume */
    .person-name {
        font-size: 1.4rem;
    }

    .pull-right {
        float: left!important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 736px;
    }
}