html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-content {
    margin-top: 50px;
}

.active {
    background-color: aliceblue;
    color: black!important;
    font-weight: 700;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #292b2c;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .f-items {
    margin: 20px 0;
    color: white;
}

.p-r-10 {
    padding-right: 10px;
}

/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 992px) {
    /* Styles should be here*/
    .nav-item {
        text-align: center;
    }

    .profile-details {

    }
}

@media only screen and (min-width : 320px) and (max-width : 574px) {
    /* Styles should be here*/
    .profile-details {
        padding-top: 40px;
        padding-bottom: 15px;
    }
}